<%- include('../partials/client/header') %>
                <!-- Content -->
                <div class="container-xxl flex-grow-1 container-p-y">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-6 mb-6">
                                <div class="card h-100">
                                    <div class="card-body">
                                    <div class="card-title d-flex align-items-start justify-content-between mb-4">
                                        <div class="avatar flex-shrink-0">
                                            <i class="bx bx-package fs-2"></i>
                                        </div>
                                    </div>
                                    <p class="mb-1">Jumlah Item</p>
                                    <h4 class="card-title mb-3"><%= items %></h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-6 mb-6">
                                <div class="card h-100">
                                    <div class="card-body">
                                    <div class="card-title d-flex align-items-start justify-content-between mb-4">
                                        <div class="avatar flex-shrink-0">
                                            <i class="bx bx-bell fs-2"></i>
                                        </div>
                                    </div>
                                    <p class="mb-1">Permintaan Diperoses</p>
                                    <h4 class="card-title mb-3"><%= request %></h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-6 mb-6">
                                <div class="card h-100">
                                    <div class="card-body">
                                    <div class="card-title d-flex align-items-start justify-content-between mb-4">
                                        <div class="avatar flex-shrink-0">
                                            <i class="bx bx-receipt fs-2"></i>
                                        </div>
                                    </div>
                                    <p class="mb-1">Dipinjam</p>
                                    <h4 class="card-title mb-3"><%= borrowed %></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
                <!-- / Content -->
<%- include('../partials/client/footer') %>
