    <%- include('../../partials/admin/header') %>

            <div class="container-xxl flex-grow-1 container-p-y">
                <!-- Basic Layout & Basic with Icons -->
                <div class="row mb-6 gy-6">
                    <!-- Basic Layout -->
                    <div class="col-xxl">
                        <div class="card">
                            <div class="card-header d-flex align-items-center justify-content-between">
                                <h5 class="mb-0">Konfirmasi Data Barang Baru</h5>
                            </div>
                            <div class="card-body">
                                <% if (error) { %>
                                    <div class="alert alert-danger alert-dismissible" role="alert">
                                        <%= error %>
                                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                    </div>
                                <% } %>
                            <form action="/admin/items/store/<%= item.id %>" method="post">
                                <div class="row mb-6">
                                    <label class="col-sm-2 col-form-label" for="itemId">ID Barang</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="itemId" name="itemId"/>
                                    </div>
                                </div>
                                <div class="row mb-6">
                                    <label class="col-sm-2 col-form-label" for="nama">Nama</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="nama" name="nama" value="<%= item.nama_barang %>" required/>
                                    </div>
                                </div>
                                <div class="row mb-6">
                                    <label for="defaultSelect" class="col-sm-2 col-form-label">Departemen</label>
                                    <div class="col-sm-10">
                                        <select id="defaultSelect" class="form-select" name="departemen" required>
                                            <option value="keuangan" <%= item.departemen === 'keuangan' ? 'selected' : '' %>>Keuangan</option>
                                            <option value="gudang" <%= item.departemen === 'gudang' ? 'selected' : '' %>>Gudang</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row mb-6">
                                    <label class="col-sm-2 col-form-label" for="lokasi">Lokasi</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="lokasi" name="lokasi" required/>
                                    </div>
                                </div>
                                <div class="row mb-6">
                                    <label class="col-sm-2 col-form-label" for="exampleFormControlTextarea1">Deskripsi</label>
                                    <div class="col-sm-10">
                                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="deskripsi" required><%= item.deskripsi %></textarea>
                                    </div>
                                </div>

                                <div class="row justify-content-end">
                                    <div class="col-sm-10">
                                        <button type="submit" class="btn btn-primary me-3">Send</button>
                                        <a href="/admin/items/store" class="btn btn-secondary mx-2">Kembali</a>
                                    </div>
                                </div>
                            </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    <%- include('../../partials/admin/footer') %>