<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
    <div class="app-brand demo">
        <span class="app-brand-text demo menu-text fw-bold ms-2">Lovent</span>
    </div>

    <div class="menu-divider mt-0"></div>

    <div class="menu-inner-shadow"></div>

    <ul class="menu-inner py-1">
        <!-- Dashboards -->
        <li class="menu-item <%= currentUrl.startsWith('/home') ? 'active' : '' %>">
            <a href="/home" class="menu-link">
                <i class="menu-icon tf-icons bx bx-home-smile"></i>
                <div class="text-truncate">Dashboards</div>
            </a>
        </li>

        <!-- Apps & Pages -->
        <li class="menu-header small text-uppercase">
            <span class="menu-header-text">Apps &amp; Pages</span>
        </li>

        <li class="menu-item <%= currentUrl === '/items/list' ? 'active' : '' %>">
            <a href="/items/list" class="menu-link">
                <i class="menu-icon tf-icons bx bx-collection"></i>
                <div class="text-truncate">Items</div>
            </a>
        </li>

        <!-- Forms & Tables -->
        <li class="menu-header small text-uppercase"><span class="menu-header-text">Pengajuan</span></li>
        <!-- Forms -->
        <li class="menu-item <%= currentUrl === '/items/store' ? 'active' : '' %>">
            <a href="/items/store" class="menu-link">
                <i class="menu-icon tf-icons bx bx-list-check"></i>
                <div class="text-truncate">Simpan Barang</div>
            </a>
        </li>
        <li class="menu-item <%= currentUrl === '/items/borrowed' ? 'active' : '' %>">
            <a href="/items/borrowed" class="menu-link">
                <i class="menu-icon tf-icons bx bx-detail"></i>
                <div class="text-truncate">Pengembalian</div>
            </a>
        </li>

            <!-- Misc -->
        <li class="menu-header small text-uppercase"><span class="menu-header-text">Misc</span></li>
        <li class="menu-item <%= currentUrl.startsWith('/items/history') ? 'active open' : '' %>">
            <a href="#" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-file"></i>
                <div class="text-truncate">History</div>
            </a>
            <ul class="menu-sub">
        <li class="menu-item <%= currentUrl === '/items/history/borrow' ? 'active' : '' %>">
                    <a href="/items/history/borrow" class="menu-link">
                        <div class="text-truncate">Peminjaman</div>
                    </a>
                </li>
                <li class="menu-item <%= currentUrl === '/items/history/store' ? 'active' : '' %>">
                    <a href="/items/history/store" class="menu-link">
                        <div class="text-truncate">Penyimpanan</div>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</aside>